[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
nltk = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"
